* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  margin: 0px;
}

.container {
  /*padding-top: 70px;*/
  height: 100%;
}


/* navigation header*/
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #9C27B0;
  color: #fff;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  overflow: hidden;
}

.nav-item {
  height: 100%;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #009688;
}

.nav-item:visited {
  color: white;
}

.menu-icon {
  display: none;
  padding: 20px;
}

.menu-icon:hover {
  background-color: #009688;
}

/**/
/*.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.image-invisible {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#home {
  position: relative;
  width: 100%;
  background-color: #009688;
  COLOR: #FFF;
}

.intro {
    font-size: 3.5em;
    font-weight: 200;
}

.intro-list li {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.0em;
    margin-right: .5em;
    font-weight: 200;
}

.intro-list li:before {
    content: '\00B7';
    margin-right: .5em;
}

.intro-list li:first-child:before {
    content: none;
}

.intro-btn {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
}

.intro-btn:hover {
  border-bottom: 2px solid #9C27B0;
}

.about-content {
  width: 50%;
}

#gallery-container {
  width: 100%;
}
.gallery-title {
  padding: 20px;
  color: #00796B;
  font-weight: bold;
}

#gallery {
  position: relative;
  max-height: 350px;
}

#gallery img {
  max-width: 100%;
}

.counter {
  margin-bottom: 50px;
}

.pointer {
  cursor: pointer;
}

/*gallery nav buttons*/
.btn-gallery {
  height: 52px;
  width: 52px;
  margin-top: -26px;
  color: #fff;
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
}

.btn-gallery:hover {
  background-color: rgba(0,0,0,0.85)
}

.btn-next {
  position: absolute;
  top: 50%;
  right: 10px;
}

.btn-prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.icon {
  fill: #fff;
  position: absolute;
  left: 8px;
  top: 8px;
}

/*footer*/
.footer {
  padding-left: 0px;
  font-size: 0.7em;
  padding-bottom: 10px;
  color: #586069;
  display: flex;
  justify-content: center;
  /*border-top: 1px solid #E1BEE7;*/
  padding-top: 10px;
}

.footer div+div {
  margin-left: 10px;
}

.footer a {
  color: #586069;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #009688;
}

/*media querries*/
@media screen and (max-width: 600px) {
  html, body {
    font-size: 0.9em;
  }
  /*.container {
    padding-top: 50px;
  }*/
  .nav a:not(:first-child) {
    display: none;
  }
  .navbar .menu-icon {
    display: block;
  }

  .navbar.responsive .nav{
    flex-direction: column;
    width: 100%;
  }

  .navbar.responsive .menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    display: block;
    text-align: left;
  }
  .intro {
    font-size: 2em;
  }
  .intro-list li {
      font-size: 1em;
  }
  .about-content {
    width: 90%;
  }
  #home {
    height: 50%;
  }

}