* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  margin: 0px;
}

.container {
  padding-top: 70px;
}


/* navigation header*/
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #9C27B0;
  color: #fff;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  overflow: hidden;
}

.nav-item {
  height: 100%;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #009688;
}
.nav-item:visited {
  color: white;
}

.menu-icon {
  display: none;
  padding-right: 15px;
}

/**/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-invisible {
  display: none;
}

#home {
  height: 200px;
}

#about {
  height: 200px;
}

#gallery {
  position: relative;
  max-height: 350px;
}

#gallery img {
  max-width: 100%;
}

.counter {
  margin-bottom: 50px;
}

.pointer {
  cursor: pointer;
}

/*gallery nav buttons*/
.btn-gallery {
  height: 52px;
  width: 52px;
  margin-top: -26px;
  color: #fff;
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
}

.btn-gallery:hover {
  background-color: rgba(0,0,0,0.85)
}

.btn-next {
  position: absolute;
  top: 50%;
  right: 10px;
}

.btn-prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.icon {
  fill: #fff;
  position: absolute;
  left: 8px;
  top: 8px;
}

/*footer*/
.footer {
  padding-left: 0px;
  font-size: 0.7em;
  padding-bottom: 10px;
  color: #586069;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  /*border-top: 1px solid #E1BEE7;*/
  padding-top: 10px;
}

.footer div+div {
  margin-left: 10px;
}

.footer a {
  color: #586069;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #009688;
}

/*media querries*/
@media screen and (max-width: 600px) {
    html, body {
      font-size: 0.9em;
  }
  .nav a:not(:first-child) {
    display: none;
  }
  .navbar .menu-icon {
    display: block;
  }

  .navbar.responsive .nav{
    flex-direction: column;
    width: 100%;
  }

  .navbar.responsive .menu-icon {
    position: absolute;
    right: 0;
    top: 20px;
  }
  .navbar.responsive a {
    display: block;
    text-align: left;
  }
}