* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 0px;
}


/* navigation header*/
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: #9C27B0;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  text-align: center;
}
.nav-item {
  height: 100%;
  text-align: center;
}

.nav-item {
  padding: 20px 16px;
  text-decoration: none;
}
.nav-item:hover {
  background-color: #009688;
}
.nav-item:visited {
  color: white;
}

/**/
.image-invisible {
  display: none;
}

#home {
  height: 200px;
}
#about {
  height: 200px;
}